.card-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);}
  
  .card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 300px;
    overflow: hidden;
    max-width: 330px;
    z-index: 1;
    position: relative;
    margin: 1rem;
    background: rgb(255,255,255);
    border-radius: 2px;
    box-sizing: border-box; }
  
  .card__media {
    background-color: rgb(255,64,129);
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: scroll;
    box-sizing: border-box; }
  
  .card__title { 
    background-image: url(./images/st.jpg);
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: stretch;
              -ms-flex-pack: stretch;
            justify-content: stretch;
    line-height: normal;
    padding: 16px 16px;
    -webkit-perspective-origin: 165px 56px;
            perspective-origin: 165px 56px;
    -webkit-transform-origin: 165px 56px;
            transform-origin: 165px 56px;
    box-sizing: border-box; }
    .card__title.card--border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  
  .card__title-text {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
            transform-origin: 149px 48px;
    margin: 0; }
    .card__title-text span {
      color: #fff; 
      letter-spacing: -1px; 
      font-weight: 400;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 10px; }
  
  .card__subtitle-text {
    font-size: 14px;
    color: rgba(0,0,0, 0.54);
    margin: 0; }
  
  .card__supporting-text {
    color: rgba(0,0,0, 0.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px 16px;
    width: 90%; }
    .card__supporting-text.card--border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  
  .card__actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box; }
    .card__actions.card--border {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
  
  .card--expand {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

    .card__menu {
        position: absolute;
        right: 16px;
        top: 16px; }