.search__container {
    position: relative;
    top: -35%;
    right: 0%;
    width: 400px;
    padding: 0.5rem;
    margin-right: 20px;}
    .search__input {
        width: 100%;
        outline: none;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: .5rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 1.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    .button__clear {
        border:1px solid transparent;
        background-color: transparent;
        display: inline-block;
        vertical-align: middle;
      outline: 0;
      cursor: pointer;
    }
    .button__clear:after {
        content: "X";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        z-index:1;
        top: -30%;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: #141414;;
        font-weight: normal;
        font-size: 12px;
        cursor: pointer;}
        .search__input:not(:valid) ~ .button__clear {
            display: none;}

    @media screen and (max-width: 500px) {
        .search__container {
            top: -18%;
            left: 5px;
            width: 60%;
            padding: 0.2rem;
            margin-right: 15px;} }